@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(../fonts/myriad/style.css);
:root {
    --red-color: #b10101;
    --yellow-color: #facb04;
    --darker-yellow-color: #facb03;
    --white-color: #fff;
    --h1-color: #28140c;
    --pop-font: 'Poppins', sans-serif;
    --myriad-font: 'Myriad Pro Regular';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: var(--red-color);
    font-family: var(--pop-font);
}

body {}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}

.center-h {
    left: 50%;
    transform: translateX(-50%);
}


.center-v-h {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-reset {
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

header {
    height: 120px;
    padding: 20px 20px 0;
}

header .search-form {
    position: relative;
}

header .search-form form {
    display: inline-block;
    position: relative;
}

header .search-form form {
    width: 150px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border: 0;
}

header .search-form form input {
    float: right;
    width: 90%;
    background-color: transparent;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header .search-form form input:focus {
    outline: none;
}

header .search-form form button {
    color: var(--white-color);
    position: absolute;
    right: 10px;

}

header .search-form a {
    position: absolute;
    display: inline-block;
    margin-left: 20px;
}

header .search-form a span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--darker-yellow-color);
    color: var(--red-color);
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: -5px;
}

header .logo {
    width: 100px;
}

header nav {
    margin-top: 20px;
    margin-left: -20px;
    display: inline-block;
    position: relative;
}

header nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 76%;
    background: var(--white-color);
    height: 1px;

}

header nav a {
    display: inline-block;
    line-height: 30px;
    padding: 0 25px;
    text-transform: uppercase;
    position: relative;
}

header nav a:hover::after {
    content: '';
    width: calc(100% - 50px);
    position: absolute;
    left: 50%;
    bottom: -3px;
    height: 3px;
    background: var(--darker-yellow-color);
    transform: translateX(-50%);
    z-index: 1;
}

header nav a:last-child {
    border: 2px solid var(--yellow-color);
    border-radius: 30px;
}

header nav a:last-child:hover::after {
    content: '';
    width: calc(100% - 40px);
    position: absolute;
    left: 50%;
    bottom: -1px;
    height: 0px;
    background: var(--darker-yellow-color);
    transform: translateX(-50%);
    z-index: 1;
}

main {
    height: 500px;
    position: relative;
        overflow: visible;

}

main section {
    height: 100%;
}

main .main-content {
    width: 40%;
    padding: 60px 30px;
}

main .main-content h1{
    background: url(../images/heading-shape.png);
    background-size: 100%;
    padding: 70px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    color: var(--h1-color);
    display: block;
}

main .main-content p {
    width: 90%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.05);
    color: var(--white-color);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
    font-family: var(--myriad-font);
}

main .main-content .order-btn {
    color: var(--red-color);
    background: var(--white-color);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 180px;
    text-align: center;
}

main .main-content .order-btn::after {
    content: '';
    width: 80%;
    height: 1px;
    background: var(--white-color);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

main .main-content .order-btn::before {
    content: '';
    width: 80%;
    height: 1px;
    background: var(--white-color);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

main .main-content .hashtag {
    display: block;
    color: var(--darker-yellow-color);
    text-align: center;
    margin-top: 40px;
}

main .delivery-boy {
    width: 220px;
    position: absolute;
    bottom: -100px;
    height: 212px;
}

main .delivery-boy img {
    width: 100%
}

main .dishes {
    width: 50%;
    height: 100%;
    background: url(../images/dish-shape.png);
    background-size: contain;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-x: right; */
    position: absolute;
    top: -70px;
    right: 0;
    margin-right: 30px;
    overflow: visible;
}

main .dishes img {
    position: absolute;
    width: 230px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

main .dishes img:last-child {
    width: 100px;
}

main .dishes img:nth-child(1) {
    left: 30px;
}

main .dishes img:nth-child(2) {
    /* left: 195px; */
    left: 49%; 
    top: 20px;
}

main .dishes img:nth-child(3) {
    right: 30px;
}

main .dishes img:nth-child(4) {
    bottom: 20px;
    left: 48%; 

}

footer {
    right: 30px;
    position: absolute;
    bottom: 30px;
}

footer ul li {
    display: inline-block;
    color: var(--red-color);
    background: var(--white-color);
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
}

footer ul li svg {
    position: absolute;
}